<header>
  <div class="secondary-nav-container">
    <a href="{{site.baseurl}}/">
      <div class="home-button"></div>
    </a>
    <div class="theme-switch-container">
      <label class="theme-switch" for="checkbox">
        <input type="checkbox" id="checkbox"/>
        <div class="slider round"></div>
      </label>
      <br>
      <em>Dark mode</em>
    </div>
  </div>
  <h1 class="site-title">{{site.title | escape}}</h1>

  <div class="links">
    <a href="{{site.baseurl}}/">Home</a>
    <a href="{{site.baseurl}}/about/">About</a>
    <a href="{{site.baseurl}}/contact/">Contact</a>
  </div>

</header>
